.App {
  text-align: center;
}

:root {
  --main-bg-color: white;
  --secondary-bg-color: whitesmoke;
  --faded-primary-color: whitesmoke;
  --primary-color: #047A9A;
  --primary-hover-color: #25c3ef;
  --secondary-color: #01947A;
  --secondary-hover-color: #85fbe3;
  --primary-text-color: black;
  --secondary-text-color: gray;
  --font-family: 'lato', sans-serif;
  --padding: 16px;
  --margin: 8px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
